.login .wi50 {
  width: 55%;
}
.login .fl {
  float: left;
}
.login .fr {
  float: right;
}
.login .wi25 {
  width: 40%;
}
.login .but {
  margin-bottom: 15px;
}
.login .h40 {
  height: 40px;
}
.login .login .btnn {
  line-height: 28px;
  border-color: #04a9f4;
  background: #FFF;
  color: #04a9f4;
}
.login .cy {
  color: #04a9f4;
}
.login .yanz {
  margin: 56px auto 200px auto;
  text-align: center;
}
.login .tu img {
  width: 30px;
  height: 30px;
  margin-top: -10px;
}
.login .chengy {
  color: #2e2e2e;
  font-size: 16px;
  font-family: "微软雅黑";
  line-height: 30px;
}
.login .heng {
  border-bottom: 1px solid #22ca73;
  margin: 15px auto 20px auto;
}
.login .huan {
  color: #aaaaaa;
  font-size: 14px;
  font-family: "微软雅黑";
}
.login .login .guideAb {
  color: #04a9f4;
  border-color: #04a9f4;
}
.login .login .guideAb:hover {
  background: #04a9f4;
  color: white;
}
.login .zhong {
  margin-top: 45px;
}
.login .mrz {
  margin: auto auto;
}
.login .zhongh {
  width: 150px;
  height: 42px;
}
.login .yans {
  color: #04a9f4;
}
