.shouqu {
  margin-bottom: 25px;
}

.kaqtitle {
  position: relative;
}

.kaqtitle span {
  position: absolute;
  left: 0;
  top: 34px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.diy {
  height: 60px;
  margin-top: -20px;
  margin-bottom: 15px;
}

.fll {
  float: left;
}

.frr {
  float: right;
}

.jiaa li {
  list-style: none;
  float: left;
  margin-top: 20px;
}

.jiatu {
  margin-right: 5px;
}

.jiatu img {
  width: 17px;
  height: 17px;
}

.tianj {
  font-size: 14px;
  color: #666666;
  line-height: 25px;
}

.liebi {
  height: 54px;
  margin-bottom: 30px;
}

.shlo img {
  width: 54px;
  height: 54px;
}

.qianb {
  margin-left: -35px;
}

.qianb li {
  list-style: none;
}

.baozi {
  color: #333333;
  font-size: 16px;
  line-height: 30px;
}

.riq {
  color: #999999;
  font-size: 14px;
  line-height: 30px;
}

.biantu {
  width: 17px;
  height: 15px;
  margin-top: 10px;
}

.kaq {
  width: 360px;
  padding-left: 40px;
  position: absolute;
  left: 100px;
  border-right: 1px solid #e6e6e6;
}

.chuangj {
  height: 160px;
  background: #f5f5f9;
}

.xians img {
  width: 40px;
  height: 40px;
  margin: 18px 0 0 12px;
}

.xians span {
  vertical-align: baseline;
  color: white;
  font-size: 14px;
  margin-left: 10px;
  position: relative;
  top: 10px;
}

.xiao {
  margin-top: -10px;
  height: 59px;
  background: #FFFFFF;
}

.xiao li {
  list-style: none;
}

.xiaoq {
  margin-left: -15px;
  line-height: 59px;
  font-size: 16px;
  color: #666666;
}

.bianx {
  margin-right: 22px;
  width: 17px;
  height: 15px;
  margin-top: 19px;
}

.bgg {
  background: #f5f5f9;
  height: 420px;
}

.shiy {
  height: 79px;
  background: #FFFFFF;
  margin-top: 25px;
  margin-left: 2px;
  margin-right: 2px;
}

.dajy li {
  list-style: none;
}

.dajy {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #d0d0d0;
}

.daizi {
  font-size: 16px;
  color: #666666;
  line-height: 38px;
  margin-left: -40px;
}

.jian {
  font-size: 20px;
  color: #979797;
  line-height: 38px;
}

.dajyy {
  height: 39px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -10px;
}

.dajyy li {
  list-style: none;
}

.dajyj {
  background: #FFFFFF;
  height: 40px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.dajyj li {
  list-style: none;
}

.juti {
  font-size: 16px;
  color: #333333;
  margin-top: -5px;
}

.kaqbianj {
  margin-left: 68px;
}

.xianh {
  border-bottom: 1px solid #d0d0d0;
  width: 560px;
  margin-top: 10px;
  margin-left: -5px;
}

.shangh {
  margin-top: 18px;
  height: 110px;
}

.shang {
  width: 105px;
  margin-top: 20px;
  font-size: 14px;
  color: #666666;
}

.shgo {
  border: 3px solid #ededed;
  width: 83px;
  height: 83px;
  line-height: 65px;
  border-radius: 100px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.shalo {
  height: 86px;
}

.shgo img {
  vertical-align: middle;
}

.shangm {
  color: #666666;
  font-size: 14px;
  margin-left: 14px;
  margin-top: 20px;
}

.huiz {
  font-size: 14px;
  color: #9b9b9b;
}

.lanzi {
  color: #35a4de;
  font-size: 14px;
}

.kaqy {
  margin-top: 20px;
  height: 37px;
}

.kay {
  font-size: 14px;
  color: #666666;
  line-height: 37px;
  width: 105px;
}

.yanh {
  width: 18px;
  height: 18px;
  border: 1px solid #d1d1d1;
  background: #35a4de;
}

.inpup {
  width: 338px;

}

.kaqyy {
  margin-top: 20px;
  height: 60px;
}

.zhusw {
	font-family: "微软雅黑";
  font-size: 14px;
  color: #999999;
}

.youxia {
  font-size: 14px;
  color: #666666;
  margin-top: 30px;
}

.youxq {
  margin-top: 25px;
  height: 40px;
}

.youxqq {
  margin-top: 15px;
  height: 40px;
}

.beij {
  background: #0E4C98;
}

.quan {
  border: 1px solid #ababab;
  width: 14px;
  height: 14px;
  border-radius: 100px;
}

.quan img {
  margin-top: -15px;
}

.di {
  display: none;
}

.gud {
  font-size: 14px;
  color: #666666;
  margin-top: -5px;
  margin-left: 10px;
  width: 82px;
}

.ruqi {
  margin-top: -5px;
}

.mrt10 {
  margin-top: 10px;
}

.riqo {
  margin-top: -10px;
}

.kuan165 {
  width: 165px;
}

.kuan128 {
  width: 128px;
  background: #f4f4f4;
}

.xiaoqi {
  margin-left: 34px;
  margin-top: -5px;
  font-size: 14px;
  color: #666666;
  margin-right: 15px;
}

.quequ {
  width: 240px;
  height: 30px;
  margin: 30px 0 40px 160px;
}

.qued {
  width: 80px;
  height: 30px;
  background: #2fb0f7;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  color: #FFFFFF;
}

.quxiao {
  width: 80px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  font-size: 14px;
  color: #333333;
}

.tuu img {
  margin-top: 20px;
}

.fen {
  font-size: 14px;
  color: #666666;
  margin-left: 10px;
  line-height: 33px;
}

.h36 {
  height: 36px;
}

.xuanti {
  font-size: 14px;
  color: #666666;
  margin-top: 6px;
  width: 105px;
}

.xuantp {
  font-size: 14px;
  color: #999999;
  margin-top: -5px;
  margin-left: 7px;
}

.fenx {
  margin-top: 25px;
  height: 16px;
}

.fenx1 {
  margin-top: 15px;
  height: 16px;
}

.xiaozi {
  font-size: 14px;
  color: #666666;
  font-family: "微软雅黑";
}

.wi20 {
  width: 21px;
}

.mrt15 {
  margin-top: 15px;
}

.youxz {
  margin-top: 20px;
  height: 40px;
}

.gudd {
  font-size: 14px;
  color: #666666;
  margin-top: -5px;
  margin-left: 10px;
}

.mrlw {
  margin-left: 10px;
  margin-top: -5px;
}

.xing {
  margin-top: 20px;
  height: 135px;
}

.duoh {
  width: 460px;
  min-height: 131px;
}

.mrl75 {
  margin-left: 75px;
}

.youxzu {
  margin-top: 3px;
  height: 40px;
}

.shiyjei {
  width: 390px;
  height: 50px;
  font-size: 14px;
  color: #666666;
}

.mrt20 {
  margin-top: 30px;
}

.mrl120 {
  margin-left: 120px;
}

.mrtf10 {
  margin-top: -10px;
}

.mrl20 {
  margin-left: 20px;
}

.huise {
  color: #999999;
  margin-left: 20px;
}

.hi20 {
  height: 20px;
  width: 555px;
}
.tianjg{
	height: 20px;
	margin-top: -5px;
}
.fuize{ 
	margin-top: 13px;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
	min-height:50px;
}
.w730{
	width: 730px; position:relative
}
.guanj{
	
	height: 50px; 
	background: #F0F4FF;
}
.xiangm{
	line-height: 50px;
	color: #333333;
	font-family: "微软雅黑";
	font-size: 16px;
	margin-left: 13px;
}
.xial{
	margin-right: 15px;
	margin-top: 11px;
}
.xiangn{
	height: 80px;
	border-top:1px solid #cfcfcf ;
}

.rong li{
	list-style: none;
}	
.w380{
	width: 380px;
}
.mrt30{
	margin-top: 30px;
}
.jianx{
	margin-top: -17px;
	margin-left: 27px;
}	
.guanjx{
	margin-top: -6px;
	height: 50px; 
	background: #F0F4FF;
}	
.neir{

	border-top:1px solid #cfcfcf ;
}
.guize{
	height: 35px;
}
#Control{ height:auto}
.nameu{
	margin-left: 40px;
	width: 90px;
}	
.w540{
	width: 540px;
}	
.gudx{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #666666;
	margin-top: -5px;
	margin-left: 10px;
=======
.shanc {
  font-size: 14px;
  color: #666666;
  margin-left: 5px;
}

.wenzi {
  font-size: 14px;
  color: #666666;
  line-height: 33px;
  margin-right: 10px;
}

.ku285 {
  width: 285px;
}

.tianjiaz {
  margin-top: 35px;
  margin-bottom: 15px;
}

.ziding {
  width: 125px;
  height: 32px;
  background: #2fb0f7;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  color: #FFFFFF;
}

.xiao:hover {
  background: #e9e9e9;
}

.dajy:hover {
  background: #e9e9e9;
}

.dajyy:hover {
  background: #e9e9e9;
}

.dajyj:hover {
  background: #e9e9e9;
}

.chuangj:hover {
  background: #e9e9e9;
}

.biant {
  margin-top: 0px;
  margin-left: 95px;
}

.kaql {
  margin-left: 80px;
  min-height: 380px;
}

.kaqbit {
  font-size: 24px;
  color: #2a569a;
}

.leixing {
  margin-top: 40px;
  min-height: 270px;
}

.gudq {
  font-size: 16px;
  color: #333333;
  margin-top: -5px;
  margin-left: 10px;
}

.fabu {
  font-size: 14px;
  color: #666666;
}

.tianjj {
  margin-top: 40px;
  height: 20px;
}

.mrl5 {
  margin-left: 5px;
}

.w130 {
  width: 130px;
}

.w250 {
  width: 250px;
}

.mrt5 {
  margin-top: 5px;
}

.w620 {
  width: 633px;
}

.mrr25 {
  margin-right: 25px;
}

.baocun {
  width: 240px;
  height: 30px;
  margin: 30px auto 40px auto;
}

>>>>>>> .r332
	
}	
.mrl70{
	margin-left: 75px;
}
.w140{
	margin-top: -10px;
	margin-left: 10px;
	width: 140px;
}	
.fenxx{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666666;
	margin-left: 10px;
	
}	
.bob{
	border: 1px solid #CFCFCF;
	height: 35PX;
}	
.yxj{
	width: 25px;
	height: 25px;
	line-height: 25px;
	margin-top: 5px;
	text-align: center;
}	
.yxjhui{
	background: #999999;
	width: 25px;
	height: 25px;
	line-height: 25px;
	margin-top: 5px;
	color: #FFFFFF;
	border-radius: 100px;
	text-align: center;
}	
.mrl35{
	margin-left: 29px;
}
.mrl10{
	margin-left: 10px;
}	
.zhuangt{
	
	height: 16px;
}
.mrl55{
	margin-left: 55px;
}
.jingz{ 
	height: 70px;
}
.dute{
	height: 70px;
	width: 540px;
}
.mrlf10{
	margin-left: -11px;
}
.mrl40{
	margin-left: 46px;
}
.mrl130{
	margin-left: 130px;
}	
.shangs{
	width: 220px;
	height: 30px;
    margin-right: 57px;
    margin-top: 20px; margin-bottom:30px
}	
.w335{
	width: 335px;
	height: 150px;
    position:absolute;
    z-index: 99999;
    right: 20px;
    top: -150px;
}
.relativeNew{ position:relative; display:none}
.xiaj{
	float: right;
	margin-right: 70px;
	margin-top:-2px;
}
.wbh{
	width: 630px;
	height: 180px;
	border: 1px solid #CFCFCF;
	border-radius: 3px;
}
.jiya{
	width: 299px;
	height: 158px;
	border: 1px solid #CFCFCF;
	border-radius: 3px;
	margin-left: 10px;
	margin-top: 10px;
}
.haohao{
	text-align: center;
	margin-top: 50px;
}
.haozi{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #999999;
	text-align: center;
}
.mrr10{
	margin-right: 10px;
}
.w630{
	width: 630px;
}
.h240{
	height: 245px;
}
.h200{
	height: 200px;
	border: none;
}
.w628{
	width: 628px;
}
.lian{
	border-top: 1px solid #CFCFCF;
	height: 45px;
}
.liatu{
	margin-left: 25px;
	margin-top:5px;
}
.lianzi{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #999999;
	line-height: 35px;
}
.shurl{
	width: 220px;
	height: 30px;
    margin-top: 20px;  
}	
.kaqhe{
	height: 300px;
	margin-top: 35px;
}
.hetu{
	margin-left: 290px;
}
.hexy{
	margin-top: -5px;
	height: 300px;
	margin-left: 15px;
}
.souc{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #333333;
}	
.mrt88{
	margin-top: 78px;
}
.nic{
	min-height: 40px;
	margin-top: 20px;
}
.chenni{
	min-width: 80px;
	height: 35px;
	background: #EDEDED;
	text-align: center;
	border-radius: 20px;
}
.nizi{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333333;
}
.guanbi{
	text-align: right;
	margin-top: -10px;
	margin-right: -5px;
}
.mrl30{
	margin-left: 30px;
}
.mrl80{
	margin-left: 80px;
}
.kayyio {
  font-size: 14px;
  color: #666666;
  line-height: 37px;
  width: 80px;
}	
.mrtf5{
	margin-top: -5px;
}
.w100{
	 min-width: 100px;
}
.mrlf30{
	margin-left: -30px;
}
.xingb{
	font-family: "微软雅黑";
	font-size: 12px;
	color:#999999;
}
.ya5{
	color: #2a569a;
}
.fon12{
	color: #2a569a;
  font-size: 12px;
}
.mrtz5{
	margin-top: 5px;
}
.bod{
	border: 1px solid #CFCFCF;
	border-radius: 3px;
}
.bodn{
	border: none;
}
.bodfl{
	border-left:1px solid #CFCFCF ;
}
.w400{
	width: 490px;
}
.try{
	height: 50px;
	background: #f0f4ff;
}
.w205{
	width: 205px;
}
.w65{
	width: 132px;
}
.w85{
	width: 85px;
}
.w165{
	width: 243px;
}	
.w50{
	width: 50px;
}
.h70{
	height: 70px;
}
.w175{
	width: 135px;
}
.w155{
	width: 145px;
}
.w141{
	width: 140px;
}
.juc{
	text-align: center;
}
.mrl38{
	margin-left: 30px;
}
.mrzl5{
	margin-left: 5px;
}
.w1401{
	width: 130px;
	margin-top: -20;
}
.bodd{
	border-bottom: 1px dashed #CFCFCF;
}
.w600{
	width: 590px;
}
.cis{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #666666;
}
.ximg{
	color: #2a569a;
}
.guanz{
	height: 50px;
	background: #f0f4ff;
}
.zhib{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #333333;
	line-height: 50px;
	margin-left: 15px;
}
.linh50{
	line-height: 50px;
}
.zbo{
	height: 250px;
	width: 730px;
}
.w95{
	width: 90px;
}
.k160{
	width: 160px;
}
.mhi75{
	height: 75px;
}
.h55{
	height: 55px;
}
.fans{
	color: #38b3f7;
	font-family: "微软雅黑";
	font-size: 24px;
}
.meiri{
	width: 80px;
	height: 40px;
	background: #f0f4ff;
	line-height: 40px;
	border-radius: 3px;
}
.zuox{
	width: 150px;
	height: 50px;

	line-height: 50px;
}
.zlf{
	margin-left: -5px;
	width: 150px;
	height: 40px;
	margin-bottom: 10px;
	border-left:1px dashed #CFCFCF; ;
}
.xiax{
		border-bottom: 1px dashed #CFCFCF;
}
.yuany{
	min-height: 60px;
	width: 730px;
}
.h60{
	height: 60px;
	background: #f0f4ff;
}
.k100{
	width: 100px;
}
.maju{
	margin-left: auto;
	margin-right:  auto;
	width: 50px;
}
.mrtf13{
	margin-top: -15px;
}
.mrl8{
	margin-left: 5px;
}
.hu32{
	font-size: 12px;
	color: #333333;
	font-family: "微软雅黑";
}
.cishu{
	margin-left: auto;
	margin-right:  auto;
	width: 130px;
}
.cishu2{
	margin-left: auto;
	margin-right: auto;
	width:110px;
}
.w50b{
	width: 50%;
}
.g50{
	height: 50px;
}
.bobl{
	border-bottom: 2px solid #38b3f7;
}
.w105{ 
	width: 105px;
}
.qushi{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #333333;
	line-height: 50px;
}
.xiangx{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #666666;
	line-height: 50px;
}
.telr{
	text-align: right;
}
.h45{
	height: 45px;
}
.k85{
	width: 85px;
}
.pad2{
	padding-right: 1px;
}
.mrb60{
	margin-bottom: 60px;
}
.fany{
	width: 30px;
	height: 30px;
	border: 1px solid #CFCFCF;
	border-radius: 3px;
	text-align: center;
}
.fany img{
	margin-top: 3px;
}
.linh30{
	line-height: 30px;
}
.w70{
	width: 70px;
	height: 30px;
}
.w60{
	width: 60px;
	height: 30px;
	border: 1px solid #CFCFCF;
	border-radius: 3px;
	text-align: center;
}
.f8d640{
	color: #f8d640;
	font-family: "微软雅黑";
	font-size: 24px;
}
.luse{
	color: #28ca40;
	font-family: "微软雅黑";
	font-size: 24px;
}
.ff7e3f{
	color: #ff7e3f;
	font-family: "微软雅黑";
	font-size: 24px;
}
.hexj{
	margin: 20px 20px;
	height: 35px;
}
.hexq{
	width: 95px;
	border: 1px solid #CFCFCF;
	height: 35px;
	border-radius: 3px;
}
.hexmo{
	width: 763px;
	border: 1px solid #CFCFCF;
	height: 35px;
}
.soutu img{
	margin-top: 9px;
	margin-left: 15px;
}
.kasou{
	height: 33px;
	width: 725px;
}
.hexjl{
	min-height: 50px;
	border: 1px solid #CFCFCF;
	border-radius: 3px;
}
.hg50{
	height: 50px;
	background: #f0f4ff;
}
.wk400{
	width: 200px;
	text-align: center;
}
.mrr75{
	margin-right: 75px;
}
.hg05{
	height: 50px;
}
.bot{
	border-top:1px solid #CFCFCF ;
}
.mr20{
	margin-left: 20px;
	margin-right: 20px;
}
.fon18{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #333333;
}
.wi396{
	width: 396px;
	height: 35px;
}
.mrtf3{
	margin-top: -3px;
}
.h20{
	height: 23px;
}
.mrt35{
	margin-top: 35px;
}
.baobc{
	width: 520px;
	height: 40px;
	background: #38b3f7;
	margin-left: 50px;
	border-radius: 3px;
}
.gongz{
	margin-top: 35px;
	height: 50px;
}
.gongztu{
	width: 50px;
	height: 50px;
}
.gongztu img{
	width: 50px;
	height: 50px;
	border-radius: 100px;
}
.mrl15{
	margin-left: 15px;
    position: relative;;
}
.wk830{
	width: 840px;
}
.mrt12{
	margin-top: 13px;
}
.suh{
	min-height: 610px;
	width: 930px;
	border: 1px solid #CFCFCF;
	border-radius: 3px;
}
.tutop{
	height: 50px;
	background: #f6faff;
	border-bottom: 1px solid #CFCFCF;
}
.lans{
	background: #38b3f7;
	color: #FFFFFF;
}
.hds{
	margin: 25px 20px 40px 20px;
	border: 1px solid #CFCFCF;
	height: 35px;
}
.mrt50{
	margin-top: 5px;
}
.hssa{
	height: 31px;
	width:845px;
}
.xint{
	 margin-left: 20px;
	 margin-right: 20px;
	height: 165px;
}
.xinj{
	width: 165px;
	height: 165px; 
	border: 1px dashed #CFCFCF;
}
.xinjj{
	width: 165px;
	height: 165px; 
	border: 1px solid #CFCFCF;
}
.xinj img{
   margin-top: 45px;
}
.tulo img{
	width: 163px;
	height: 100px;
}
.tuje{
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.7;
    background-color: rgba(0,0,0,0.9);
}
.oCenter{
    overflow: hidden;
    /* margin-top: 50%; */
    /* text-align: center; */
    color: #fff;
    width: 164px;
    top: 43%;
    position: absolute;
    left: 50%;
    margin-left: -82px;
}
.oCenter .oFirst{ display: inline-block; margin-right: 10px;}
.oCenter .oImgIcon{ position: relative;top: -4px;margin-right: 5px;}
.w-title-style{
	text-align: left;
}
.w-tc-te{
	margin: 0;
	text-align: center;
	font-size: 16px;
	padding-bottom: 3px;
}
.mrt3{
	margin-top: 3px;
}
.mrr5{
	margin-right: 5px;
}
.fanye{
	width: 160px;
	height: 20px;
	margin: 40px auto 60px auto;
}
.yi{
	border: 1px solid #CFCFCF;
	width: 20px;
	height: 20px;
	text-align: center;
}
.linh20{
	line-height: 20px;
}
.yanl{
	background: #41B6F7;
	color: #FFFFFF;
}
.mrl05{
	margin-left: 5px;
}
.yixy{
	border: 1px solid #CFCFCF;
	width: 60px;
	height: 20px;
	text-align: center;
}
.hdss{
	margin: 25px 20px 40px 20px;
	height: 47px;
}
.w550{
	width: 550px;
	height: 35px;
	border: 1px solid #CFCFCF;
	border-radius: 3px;
}
.hssaa{
	height: 31px;
	width:515px;
}
.time{
	width: 95px;
	height: 35px;
	border: 1px solid #CFCFCF;
	border-radius: 3px;
}
.xinti{
	 margin-left: 20px;
	 margin-right: 20px;
	min-height: 200px;
}
.xinji{
	width: 165px;
	min-height: 200px; 
	border: 1px dashed #CFCFCF;
    position: relative;
}
.xinjji{
	width: 165px;
	min-height: 200px; 
	border: 1px solid #CFCFCF;
}
.xinji img{
   margin-top: 45px;
}
.h30{
	height: 30px;
}
.tell{
	text-align: left;
}
.biantuy{
	height: 50px;
	width: 100%;
	border-top: 1px solid #CFCFCF;
}
.tuy img{
	margin-top: 7px;
}
.mixinj{
	height: 510px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
}
.xinjzb{
	width: 320px;
	height: 352px;
	border: 1px solid #CFCFCF;
	border-radius: 3px;
}
.tipq{
	height: 148px;
	background: #dadbd6;
}
.sib{
	background: #494844;
	height: 25px;
}
.fon169{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #999999;
}
.xinou{
	height: 157px;
	margin: 10px 10px 10px 10px;
	border: 1px dashed #CFCFCF;
}
.jiaop img{
	margin-top: 50px;
}
.youoi{
	margin-left: 115px;
}
.w450{
	width: 450px;
}
.wk65{
	 width: 65px;
}
.shangc{
	width: 80px;
	height: 35px;
	border: 1px solid #CFCFCF;
	border-radius: 3px;
}
.linh35{
	line-height: 35px;
}
.tupinz{
	margin-left: 65px;
	height: 90px;
}
.jipw{
	width: 145px;
	height: 85px;
	border: 1px dashed #CFCFCF;
}
.jipw img{
	margin-top: 28px;
}
.zilan{
	color: #159bd6;
	font-family: "微软雅黑";
	font-size: 14px;
}
.mrt665{
	margin-top: 65px;
}
.mrl65{
	margin-left: 65px;
}
.h65h{
	height: 65px;
}
.w402w{
	width: 402px;
}
.h85h{
	height: 85px;
}

.querut {
  width: 240px;
  height: 30px;
  margin: 30px  auto 40px  auto;
}
.xiufain{
    width: 285px;
    height: 173px;
    border: 1px solid #CFCFCF;
    border-radius: 3px;
    /* margin-left: 125px; */
    position: absolute;
    left: 0;
    bottom: -190px;
    background: #fff;
    z-index: 111;
    display: none;;
}
.shangjr img{
	margin-top: -35px;

}
.mros{
	 margin-left: 20px;
	 margin-right: 20px;
}
.fon66{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #666666;
}
.h40h{
	height: 40px;
}
.quefyu {
  width: 200px;
  height: 30px;
  margin: 30px  auto 40px  auto;
}
.w5w{
	width: 500px;
  height: 40px;
  background: #2fb0f7;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 40px;
}
.xiayi{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.deng{
	margin-top: 90px;
}
.fon206{
	 color: #666666;
	 font-size: 20px;
	 font-family: "微软雅黑";
}
.tubiao{
	height: 80px;
}
.w110{
	width: 110px;
}
.wg80{
	width: 80px;
	height: 80px;
}
.linh80{
	line-height: 80px;
}
.wg80 img{
	border-radius: 100px;
}
.shangtu{
	width: 160px;
	height: 40px;
	border: 1px solid #38b3f7;
	text-align: center;
	margin-top: 20px;
}
.fon38b{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #38b3f7;
}
.mrt404{
	margin-top: 40px;
}
.linh40{
	line-height: 40px;
}
.w470{
	width: 470px;
	height: 40px;
}
.k620{
	width: 620px;
}
.w520{
	width: 520px;
}
.kw470{
	width: 470px;
	height: 100px;
}
.h100{
	height: 100px;
}
.mrl110{
	margin-left: 110px;
}
.mrb40{
	margin-bottom: 40px;
}
.yulan{
	height: 80px;
}
.lany{
	width: 80px;
	height: 80px;
	border: 1px solid #CFCFCF;
}
.w215{
	width: 215px;
}
.w27{
	width: 27px;
	height: 27px;
	border: 1px solid #CFCFCF;
	border-radius: 100px;	
}
.tu27 img{
	width: 23px;
	height: 23px;
	border-radius: 100px;
	margin-left: 1px;
	margin-top: -1px;
}
.tudian img{
	margin-left: 4px;
}
.h111{
	height: 111px;
}
.wg199{
	width: 199px;
	height: 111px;
	background: #f2f2f2;
}
.fon209{
	font-family: "微软雅黑";
	font-size: 20px;
	color: #999999;
}
.linh111{
	line-height: 111px;
}
.shangtu1{
	width: 160px;
	height: 40px;
	border: 1px solid #38b3f7;
	text-align: center;
	margin-top: 40px;
}
.w90{
	width: 80px;
}
.mrtf20{
	margin-top: -23px;
}
.fenxf{
	width: 150px;
	height: 185px;
	border: 1px solid #CFCFCF;

}
.mrtf15{
	margin-top: -17px;
}
.gundon{
	height: 170px;
	overflow-y:scroll; 
}
.cuocuo{
	padding-left: 100px;
	width: 100%;
	margin-top: 130px;
}
.chusuo{
	font-size: 23px;
	color: #0e4c98;
}
.shuaxin{
	width: 170px;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
}
.ff7e3f{
	color: #ff7e3f;
	font-family: "微软雅黑";
	font-size: 14px;
}
.liji{
	margin: 80px auto auto auto;
}
.lijiqi {
  width: 100px;
  height: 40px;
  background: #f5f5f5;
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  font-size: 14px;
  color: #333333;
}
.hout{

	background: url(../images/houtdl.jpg) no-repeat fixed;
	background-size: 100% 100%;
}
.mrt135{
	margin-top: 135px;
}
.zhangh{
	width: 313px;
	height: 37px;
	border-radius: 100px;
	font-family: "微软雅黑";
	font-size: 18px;
	color: #929292;
}
.mrt100{
	margin-top: 100px;
}
.mrau{
	width: 220px;
 margin-left: auto;
 margin-right: auto;
}
.fonf18{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #FFFFFF;
}
.dengl{
	width: 157px;
	height: 42px;
	margin: 40px auto 0 auto ;
}
.denglogo {
  width: 157px;
  height: 42px;
  background: #1871ab;
  border:  none;
  border-radius: 100px;

  color: #FFFFFF;
  font-size: 22px;
  font-family: "微软雅黑";
}
.xiana{
	margin: 6% 40px 0 ;
	border-bottom: 1px solid #61c6fc;
	border-top: 1px solid #1372b6;
}
.buto{
	 position: fixed;
	 bottom:0;
	background: #1870aa;
	height: 52px;
	width: 100%;
}
.jians{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #FFFFFF;
	line-height: 52px;
}
.fonb14{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #FFFFFF;
}
.mrlf20{
	margin-left: -40px;
}
.mrt60{
	margin-top: 7%;
}
.mrtb6{
	margin-top: 6%;
}


.content.wk830 .gongz.wk830 .frr.mrt10{ visibility:hidden}
.newimg{ width:720px}
.newimg .active .active a{ border:1px solid #F00}
.newimg .thumbnail{ margin-bottom:10px}

.mrl130.manew{ margin-left:100px}
.baocun{ padding-top:30px}
.mtop{ margin-top:10px}

