.blueHover:hover {
  background: #04a9f4;
  color: white;
}
.grayHover:hover {
  background: #aaaaaa;
  color: white;
}
.btnHover:hover::after {
  content: url(images/hover.png);
}
.btnHover:after {
  position: relative;
  top: 5px;
  left: 5px;
}
