html{font-size: 45px;}
img{display: block;}
i{font-style: normal;}
html,body{width: 100%;height: 100%;font-family: 微软雅黑, sans-serif;}
body{
	/*font-family:;*/
	background: url("../img/background.png") no-repeat;
	background-size:100% 100%;
	height: 100%;
	margin: 0;
}
.main {position: relative; min-height: 100%; height: 100%;}
@media (min-width: 720px) {
	.main {width: 720px; min-width: 720px;}
}
.clearfix{
	clear:both;
}
header{position:relative;}
header h1{
	text-align: center;
	line-height: 0.755rem;
	font-size:0.755rem;
	letter-spacing: 0.266rem;
	color: #FFF;
}
header .return{
    width:1.89rem;
    height: 0.89rem;
    position: absolute;
    float: left;
    cursor: pointer;
}
header .return-img{
    width:0.89rem;
    height: 0.89rem;
    margin-left: 0.3rem;
    float: left;
}
header .search{
    width:2.02222rem;
    height:1.04444rem;
    position: absolute;
    top:0;
    right: 0rem;
    float: right;
    cursor: pointer;
}
header .search-img{
    width:1.02222rem;
    height:1.04444rem;
    position: absolute;
    top:0;
    right: 0.3rem;
    float: right;
}

.spacemen,.star2,.ship1,.star1,.ship2{
	position: absolute;
	z-index:200;
	
}
.spacemen{
	left:0;
	top:8.95rem;
	width:2.22rem;
	height: 2.75rem;
}
.star2{
	top:16rem;
	left:0;
	width:2.62rem;
	height:3.04rem; 
}
.ship1{
	left:1.33rem;
	top:23rem;
	width: 1.6rem;
	height: 1.6rem;
}
.star1{
	right:0;
	top:7.5rem;
	width:2.42rem;
	height: 2.86rem;
}
.ship2{
	right:0.57rem;
	top:16.11rem;
	width:1.53rem;
	height: 1.53rem;
}

.car, .plane-gray, .helmet, .two-star, .meteor {
	position: absolute;
	z-index:200;
}

.car {
	top: 10.35556rem;
	left: 0.15556rem;
	width: 3.13333rem;
	height: 2.26667rem;
}
.plane-gray{
	top: 17.11111rem;
	left: 1.08889rem;
	width: 1.55556rem;
	height: 1.28889rem;
}
.helmet{
	top: 24.37778rem;
	left: 0;
	width: 1.51111rem;
	height: 1.97778rem;
}
.two-star{
	top: 9.71111rem;
	right: 0.13333rem;
	width: 1.35556rem;
	height: 1.17778rem;
}
.meteor{
	top: 21.73333rem;
	right: 0;
	width: 2.6rem;
	height: 2.4rem;
}

.body{position: relative;}
.recommend,.newest{
	height: 100%;
	position: absolute;
	width: 100%;
}
.recommend .head,.newest .head {
	height: 5.04rem;
	width: 100%;

}
.recommend .content,.newest .content{
	width:100%;
	height: 100%;
	position: relative;
}

.recommend {
	/*z-index:1;*/
	/*	position: relative;*/
}
/*.recommend .head{
	background:url(../img/experiment/recomend.png) no-repeat;
	background-size:100% 100%;
}*/
.recommend .content{
	background: url(../img/experiment/reblock.png) repeat;
}
/*.newest .head {
	background: url(../img/experiment/newest.png) no-repeat;
	background-size:100% 100%;
}*/
.newest .content{
	background: url(../img/experiment/reblock2.png) repeat;
}

.content-list{
	position: absolute;
	z-index: 99;
}
.content .body{
	position: relative;
	z-index:88; 
}
.content-list li{
	position: relative;

}
.content-list li span{
	position: absolute;
	left:1.733rem;
	top:1.7rem;
	width:8rem;
	color:#000;

}
.content-list li{
	width:16rem;
	height: 7.02rem;
}
.content-list li:nth-child(1){
	background:url("../img/experiment/content1.png") no-repeat;
	background-size: 100% 100%;
}
.content-list li:nth-child(2){
	background:url("../img/experiment/content2.png") no-repeat;
	background-size: 100% 100%;
}
.content-list li:nth-child(3){
	background:url("../img/experiment/content3.png") no-repeat;
	background-size: 100% 100%;
}



/*奇数*/
.content-list li:nth-child(odd)>div {
	transform:rotate(5deg);
	-ms-transform:rotate(5deg); /* Internet Explorer */
	-moz-transform:rotate(5deg); /* Firefox */
	-webkit-transform:rotate(5deg); /* Safari ºÍ Chrome */
	-o-transform:rotate(5deg); /* Opera */
	position: absolute;
	background:url("../img/experiment/normal2.png") no-repeat;
	width:3.82rem;
	height: 4.48rem;
	left:10.5rem;
	top:1.4rem;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.content-list li:nth-child(odd)>div img{
	position: absolute;
	left:1.2rem;
	top:0rem;
	width:1.77rem;
	height: 0.42rem;
}
/*偶数*/
.content-list li:nth-child(even)>div{
	transform:rotate(-5deg);
	-ms-transform:rotate(-5deg); /* Internet Explorer */
	-moz-transform:rotate(-5deg); /* Firefox */
	-webkit-transform:rotate(-5deg); /* Safari ºÍ Chrome */
	-o-transform:rotate(-5deg); /* Opera */
	position: absolute;
	background:url("../img/experiment/normal2.png");
	width:3.82rem;
	height: 4.48rem;
	left:10.5rem;
	top:1.2rem;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.content-list li:nth-child(even)>div img{
	position: absolute;
	left:1rem;
	top:-0.1rem;
	width:1.77rem;
	height: 0.42rem;
}

.content-list li .introduce1,.content-list li .introduce2,.content-list li .introduce3{
    padding-top: 0.01rem;
    padding-bottom: 0.01rem;
	width:2.31rem;
	height:0.8rem;
	background-color: #ffa802;
	color:#fff;
	font-size:  0.55rem;
	position: absolute;
	top:0.05rem;
	right: 0;
	text-align: center;
	font-weight: bold;
}
.content-list li .introduce2{
	background-color: #10a3f3;
}
.content-list li .introduce3{
	background-color: #f08ec9;
}

.content-list li span h2{
	font-size: 0.64rem;
	color:#333;
}

.content-list li span p{
	color:#7e7e7e;
	padding-top: 0.2rem;
	font-size: 0.5444rem;
}

.content-list li span p:nth-child(3) {
	padding-top: 0.3rem;
	color:#1e1e1e;
	line-height: 0.5rem;
	font-weight: bold;
	font-size: 0.5rem;
}
.content-list li span p b{
	color:red;
	font-size:0.68rem;
	font-weight: bold;

}

